# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
*.un~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE & Editor specific
# IntelliJ
*.iml
*.ipr
*.iws
.idea/
# VSCode
# The .vscode folder can contain shared launch configurations.
# Uncomment if you want to ignore it completely.
# .vscode/
# Other editors
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/
.pub-cache/
.pub/

# Environment variables
.env

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/flutter_sdk
.packages
.metadata
build/
coverage/
lib/generated_plugin_registrant.dart
# It's recommended to commit pubspec.lock for applications.
# For library packages, don’t commit the pubspec.lock file.
# pubspec.lock

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode specific
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to iOS/XCode rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Gemini CLI specific folders
.clinerules/
.cursor/
.gemini/
.roo/
.roomodes
.taskmaster/
.trae/
.windsurf/